/* Table of contents */
/* 01.Navbar

body{
    font-family: 'Times New Roman', Times, serif;
    height: 500px;
}

/* 01. Navbar */
.navbar{
    background: #222;
    padding: 25px 0;
}
.log{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbar .nav-item{
    font-size: 14px;
    font-weight: 60px;
    margin: 0 20px;
}
.navbar .nav-item .navlink{
    color: #7d8792;
}