.heading{ 
    background-color: aqua;
    padding: auto;
    color: white;
    text-align: center;
 } 
body{
    background-image: url('img/R.jpg');
    background-repeat: no-repeat;
    color: green;
}

/* https://www.freelogodesign.org/manager/showcase/e02f4ae5974e4c4c8143994c139fedca */